body > section:first-of-type {
	margin: var(--Margin-Dynamic);
	margin-bottom: 2rem;

	& h1 {
		font-size: 1.6125rem;
		font-weight: 700;
		color: var(--MainLightGray);
		line-height: 1.4;
		margin-bottom: 2rem;

		& span {
			font-size: 2.125rem;
			display: block;
		}
	}

	& img {
		text-align: center;
		margin: 0 auto;
		display: block;
		margin-bottom: 2rem;
	}

	& p {
		font-weight: normal;
		color: var(--MainBlack);
	}
}
